<div>
    <div>
        <h2>PRESENTACIÓN SEGÚN FACTURA</h2>
    </div>
    <div>
        <label for="NumeroOrden">No. de Trabajo:</label>
        <input type="text" name="NumeroOrden"/>
        <label for="FechaVenta">Fecha:</label>
        <input type="text" name="FechaVenta"/>
    </div>
    <div>
        <label for="nombreCliente">Nombre: </label>
        <input type="text" name="nombreCliente">
    </div>
    <div>
        <div></div><div><label>ESFERA / CILINDRO / EJE / ADD</label></div>
        <div><label for="formulaOD">OD</label></div><div><input type="text" name="formulaOD"></div>
        <div><label for="formulaOI">OI</label></div><div><input type="text" name="formulaOI"></div>
    </div>
    <div>
        <textarea name="DescripcionLentes" id="DescripLentes" cols="30" rows="10" placeholder="Lentes:"></textarea>
        <textarea name="DescripcionMonturas" id="DescripMonturas" cols="30" rows="10" placeholder="Monturas:"></textarea>
        <textarea name="DescripcionObservacion" id="DescripObservacion" cols="30" rows="10" placeholder="Observación:"></textarea>
    </div>
    <div>
        <label for="ValorTotal">Total $</label><input type="text" name = "ValorTotal">
        <label for="ValorAbono">Abono $</label><input type="text" name = "ValorAbono">
        <label for="SaldoTotal">Saldo $</label><input type="text" name = "SaldoTotal">
    </div>
    <div>
        <button name="btnFactura">Ingresar Factura</button>
        <button name="btnRegresar">Regresar</button>
    </div>
</div>